@font-face {
    font-family: akaPosse;
    src: url(../fonts/akaPosse.ttf);
  }

:root {
    --lightness: 80%; /* Light mode pastel */
    --bg-color: hsl(50, 100%, var(--lightness)); /* Default pastel yellow */
    --text-color: black;
}

* {
    --header: 20vh;
    --footer: 5vh;
    --greetings: 100vh;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 600px;
    margin: auto;
    padding: 12px;
}
footer {
    height: var(--footer);
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
main#home {
    display: grid;
    grid-template-areas: "contents miner"
    "greetings greetings"
    "contact contact";
    grid-template-rows: 2fr max-content 2fr;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 12px;
    margin: 12px 0px;
}
button {
    margin: auto;
    background: none;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    font-family: serif;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 12px;
    box-sizing: border-box;
}
a {
    color: var(--text-color);
}
header {
    padding: 4px;
    text-align: center;
    white-space:nowrap;
    border: 1px solid var(--text-color);
    box-sizing: border-box;
    min-height: var(--header);
}
.header {
    border: 3px solid var(--text-color);
}
.contents {
    text-align: center;
    grid-area: contents;
}
.contents ul {
    list-style: none;
    text-align: left;
}
.greetings {
    padding: 12px;
    grid-area: greetings;
    overflow-y:scroll;
    overflow-x:hidden;
}
.miner {
    grid-area: miner;
    display: flex;
}
.miner img{
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    mix-blend-mode: multiply;
}
.contact {
    padding: 12px;
    grid-area: contact;
    text-align: center;
}

.contents, .greetings, .contact {
    border: 1px solid var(--text-color);
}

/* subscribe */

main#subscribe {
    margin: 12px 0;
}

.subscribe {
    border: 2px var(--text-color) dashed;
    width: 100%;
    grid-column: span 2;
    grid-row: 1;
    box-sizing: border-box;
    padding: 12px;
}
.subscribe p {
    text-align: center;
}
.subscribe form input[type=text]{
    background: none;
    color: var(--text-color);
    border: none;
    border-bottom: 1px solid var(--text-color);
    border-radius: 0px;
    box-sizing: border-box;
    width: 85%;
}
.subscribe form input[type=checkbox]{
    background: none;
    border: none;
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    border-radius: 0px;
}
.subscribe form label[type=text] {
    display: inline-block;
    line-height: 2em;
    width: 15%;
}
#subscribe-note {
    grid-column: span 2;
    text-align: center;
}
p.buttons {
    grid-column: span 2;
    grid-row: 2;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
.buttons {
    width: calc(100% - 24px);
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.return-home{
    grid-column: span 2;
    grid-row: 3;
    text-align: center;
}

#darkmode{
    color: var(--text-color);
    fill: var(--text-color)
}

/* tooltip time */

.tooltip .tooltiptext {
    visibility: hidden;
    padding: 12px;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    font-size: 24px;
    line-height: 18px;
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* Desktop Version */

@media (min-width:800px) {
    main#home {
        display: grid;
        grid-template-areas: "contents greetings"
        "miner greetings"
        "contact greetings";
        grid-template-rows: 3fr 1fr 2fr;
        grid-template-columns: 2fr 3fr;
        margin: auto;
        gap: 12px;
        margin: 12px 0px;
    }
}

@media print {
    body {
        color:black;
        background: white;
        width: 100%;
        margin: auto;
        padding: 0;
        font-size: 12pt;
    }

    .subscribe {
        page-break-after: avoid;
        page-break-before: avoid;
        border: 2px black dashed;
    }

    main {
        display: block;
        height: auto;
    }

    .subscribe form input[type=text]{
        background: none;
        color: black;
        border-bottom: 1px solid black;
        border-radius: 0px;
    }

    header, .header {
        border-color: black;
    }

    button, #return-home, #subscribe-note {
        display: none; /* Hides unnecessary elements in print */
    }
}